# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
You have divergent branches and need to specify how to reconcile them.*.out
*.app

# Build directories
build*
ext
data*
output*

# Caches
*__pycache__
*.DS_Store

